
  <hr/>
  <footer>
    <strong><a href="http://observalgbt.unb.br/" target="_blank">Observatório LGBT</a> - Licenciado sobre a <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></strong>
    <strong>Baseado no <a href="http://mapadacultura.org" target="_blank" alt="Mapa da Cultura">Mapa da Cultura</a></strong>
  </footer>
